@page
@using HillerødSejlklub.Library
@model HillerødSejlklub.Web.Pages.AdminBoatsModel
@{
    ViewData["Title"] = "AdminBoat page";
}

<p>@BoatCreateModel.Message</p>

<div>
    <div>
        <div class="row text-center">

            <div class="col">
                <a class="btn btn-primary" asp-page="/BoatCreate">Opret en ny båd</a>
            </div>

            <div class="col">
                <form method="post">
                    <input type="text" name="input" />
                    <button type="submit" asp-page-handler="FindBoat">Søg</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    @if (Model.Boatlist.Count == 0)
    {
        <h1 style="color: lightgrey">Ingen båd fundet</h1>
    }
    else
    {

        @foreach (Boat boat in Model.Boatlist)
        {
            <div class="col-md-4 mb-4">

                <div class=" bg-dark text-light card h-100">

                    <img src="Images/@(boat.SailNumber).jpg"
                         class="card-img-fixed-height"
                         alt="@boat.BoatName"
                         onerror="this.src='Images/HillerødPlaceholderBoat.jpg'">


                    <div class="card-body">
                        <h5 class="card-title">@boat.BoatName</h5>
                        <p>ID: @boat.Id</p>
                        <p> Sejlnummer: @boat.SailNumber</p>
                        <p> Årgang: @boat.YearOfConstruction</p>
                        <p> Dimensioner: @boat.BoatDimensions</p>


                        @if (boat is HillerødSejlklub.Library.MotorBoat)
                        {
                            MotorBoat mBoat = (HillerødSejlklub.Library.MotorBoat)boat;
                            <p>Type båd: motorbåd</p>
                            <p>Motor information:</p>
                            <p>Mærke: @mBoat.Motor.Manufacturer</p>
                            <p>Brændstof: @mBoat.Motor.FuelType</p>
                            <p>HK: @mBoat.Motor.Horsepower</p>
                            <p>Årgang: @mBoat.Motor.Year</p>
                        }
                        else if (boat is HillerødSejlklub.Library.DinghyBoat)
                        {
                            <p>Type båd: Jolle</p>
                            DinghyBoat dBoat = (HillerødSejlklub.Library.DinghyBoat)boat;
                            <p>Antal årer: @dBoat.NumberOfOars</p>
                        }
                        else if (boat is HillerødSejlklub.Library.SailBoat)
                        {
                            <p>Type båd: sejlbåd</p>
                            SailBoat sBoat = (HillerødSejlklub.Library.SailBoat)boat;
                            <p>Sejl størrelse: @sBoat.SailVolume</p>
                        }

                        <a class="btn btn-danger"
                           asp-page="/BoatDelete"
                           asp-page-handler="Removeboat"
                           asp-route-boatId="@boat.Id">
                            Slet båd
                        </a>
                    </div>
                </div>
            </div>
        }
    }



</div>